// CSS Template for INM Project

// Import Google Fonts
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600&subset=latin,latin-ext);

body            {
                  font-family: 'Josefin Sans', sans-serif;
                }

header img	   	{
				          width: 100%	;
				        }

/*NAVIGATION AREA*/
nav             {
                  background:#D7D7D7;
                  width:100%;
                  text-align:center;
                  text-decoration:none;
                  margin:0em;
                }

nav a           {
                  display:inline-block;
                  height:2.188em;
                  line-height:2.188em;
                  padding-left: 1.875em;
                  padding-right:1.875em;
                  color: black;
                  text-decoration:none;
                }

nav a:hover     {
                  background-color:#f5f4f4;
                  color:black;
                }

nav a:active    {
                  background-color: #f5f4f4;
                  color:black;
                }

section table	  {
				          border: 1px solid black;
				          width: 20em;
				        }
/*CONTENT SPECIFIC*/

hr              {
                  width:80%;
                }

div#text        {
                  float:left;
                  width: 50%;
                }

div#table       {
                  float:right;
                  width: 50%;
                }

div#clear        {
                  clear:left;
                }


/*FOOTER*/
footer          {
                  width:100%;
                  line-height:2.188em;
                  text-align:center;
                  margin-top:5em;
                  background-color:#D7D7D7;
                }
/*W3C*/
footer img      {
                  display:inline-block;
                }
