/* CSS Template for INM Project */
/*Support for WIDE*/
@media only screen and (min-width: 60rem) {
/*TODO NAV SECTION READINGS next to each other*/

  header img        {
                      width: 100%;
                      height: auto;
                    }

  nav {
    width: 20%; /*use the complete width */
    margin-right: 3%;
    margin-top: 3em;
    float:left;
    display: block;
}
nav ul {
    padding: 0px; /*optics */
    margin: 0px;  /*optics */
}
    nav ul,nav ul li{
    background-color: #FAFAFA; /*background color */
}
    nav ul li {
    list-style: none; /*no bullets in the list */
    float:left; /*horizontal layout */
	width:100%;
}
nav ul li a {
    text-decoration: none; /*links shouldn't be underlined */
    display: block; /*no inlie */
    color: #000; /*text color */
    padding: 1em 1em 1em 5em; /*optics */
}
nav ul li:hover > ul {
    visibility: visible; /*show selected list */
    background:#39F; /*highlight selected list */

}
nav ul li ul{
    display: inline; /*hide subtopics */
    visibility: hidden; /*hide subtopics */
    position: absolute;
}
nav ul li ul li{
    float: none;
}
nav ul li ul li a:hover{
    color: #000;
  }
  nav ul li:hover > a {
    background-color:#39F;
  }



  section         {
                    width:48%;
                    display:inline-block;
                    margin-right: 3%;

                  }
  section table	  {
                    border: 0.0625em solid black;
                    width: 20em;
                    margin-left: 2%;
                  }

  aside           {
                    float:right;
                    width:25%;
                    margin-top: 3em;

                  }
  /*CONTENT SPECIFIC*/

  hr              {
                    width:80%;
                  }


#welcomeMessage   {
                    display: inline-block;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 300px;
                    height: 100px;
                    margin: auto;
                    text-align: center;
                    vertical-align: middle;
                    background-color: rgb(192,192,192);

                    /*FADE IN*/
                    animation: fadein 7s;
                  }

#text        {
                  float:left;
                  width: 50%;
                }

#table       {
                  float:right;
                  width: 49%;
                }

#clear        {
                  clear:left;
                }

  /*FOOTER*/
  footer          {
                    width:100%;
                    line-height:2.188em;
                    text-align:center;
                    margin-top:5em;
                    background-color:#D7D7D7;
                  }

}

/*Support for MEDIUM*/
@media only screen and (min-width: 40rem) and (max-width: 60rem) {
/*TODO NAV SECTION READINGS next to each other*/

  header img        {
                      width: 100%;
                      height: auto;
                    }

  nav {
    width: 20%; /*use the complete width */
    margin-right: 3%;
    margin-top: 3em;
    float:left;
    display: block;
    list-style: none;
}
nav ul {
    padding: 0px; /*optics */
    margin: 0px;  /*optics */
}
    nav ul,nav ul li{
    background-color: #FAFAFA; /*background color */
}
    nav ul li {
    list-style: none; /*no bullets in the list */
    float:left; /*horizontal layout */
	width:100%;
}
nav ul li a {
    text-decoration: none; /*links shouldn't be underlined */
    display: block; /*no inlie */
    color: #000; /*text color */
    padding: 1em 1em 1em 5em; /*optics */
}
nav ul li:hover > ul {
    visibility: visible; /*show selected list */
    background:#39F; /*highlight selected list */

}
nav ul li ul{
    display: inline; /*hide subtopics */
    visibility: hidden; /*hide subtopics */
    position: absolute;
}
nav ul li ul li{
    float: none;
}
nav ul li ul li a:hover{
    color: #000;
  }
  nav ul li:hover > a {
    background-color:#39F;
  }


  section         {
                    background-color: white;
                    float:right;
                  }

  section table	  {
                    border: 0.0625em solid black;
                    width: 20em;
                  }
  aside           {
                    width:100%;
                    float:clear;
                  }
  /*CONTENT SPECIFIC*/

  hr              {
                    width:80%;
                  }


  /*FOOTER*/
  footer          {
                    width:100%;
                    line-height:2.188em;
                    text-align:center;
                    margin-top:5em;
                    background-color:#D7D7D7;
                  }

}

/*Support for NARROW*/
@media only all and (max-width: 40rem) {
header img        {
                    width: 100%;
                    height: auto;
                  }

  nav {
    width: 100%; /*use the complete width */
    margin-right: 0%;
    margin-top: 0em;
    float:left;
    display: block;
}
nav ul {
    padding: 0px; /*optics */
    margin: 0px;  /*optics */
}
    nav ul,nav ul li{
    background-color: #FAFAFA; /*background color */
}
    nav ul li {
    list-style: none; /*no bullets in the list */
    float:left; /*horizontal layout */
	width:100%;
}
nav ul li a {
    text-decoration: none; /*links shouldn't be underlined */
    display: block; /*no inlie */
    color: #000; /*text color */
    padding: 1em 1em 1em 5em; /*optics */
}
nav ul li:hover > ul {
    visibility: visible; /*show selected list */
    background:#39F; /*highlight selected list */

}
nav ul li ul{
    display: inline; /*hide subtopics */
    visibility: hidden; /*hide subtopics */
    position: absolute;
}
nav ul li ul li{
    float: none;
}
nav ul li ul li a:hover{
    color: #000;
  }
  nav ul li:hover > a {
    background-color:#39F;
  }


  section table	  {
                    border: 0.0625em solid black;
                    width: 100%;
                  }
  /*CONTENT SPECIFIC*/

  hr              {
                    width:80%;
                  }

 /*Deleted div for table for better oversight*/

  /*FOOTER*/
  footer          {
                    width:100%;
                    line-height:2.188em;
                    text-align:center;
                    margin-top:5em;
                    background-color:#D7D7D7;
                  }

}

/*NAVIGATION AREA*/

/*CSS FADE IN ANIMATION*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
